@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  min-height: 100vh;
  display: flex;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#hiddenText {
  display: none;
}

p {
  font-size: 1.2vw; /* Adjust font size for mobile */
  color: white;
}

h1 {
  font-size: 1.6vw; /* Adjust font size for mobile */
  color: white;
}

.container {
  text-align: center;
}

.btn-simple {
  padding: 1.3vw 1.3vw; /* Adjust padding for mobile */
  font-size: 1.2vw; /* Adjust font size for mobile */
  cursor: pointer;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.btn-simple:hover {
  background-color: #3b3b3b;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 600px) {
  p {
      font-size: 3vw; 
      font-family: 'Lato';/* Adjust font size for smaller screens */
  }

  h1 {
      font-size: 5vw;
      font-family: 'Lato'; /* Adjust font size for smaller screens */
  }

  .btn-simple {
      padding: 5vw 10vw; /* Adjust padding for smaller screens */
      font-size: 4vw;
      font-family: 'Lato'; /* Adjust font size for smaller screens */
  }
}
