@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  padding: 30px
}

.catmeme{
  height: 250px;
  width: 500px;
}
.appname{
  align-items: center;
}
body {
  min-height: 100vh;
  display: flex;
  background-color: #000000;
  align-items: center;
  align-items: center ;
  justify-content: center;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.gifcont{
  padding: 5%;
  /* width: 200px; */
}
#hiddenText {
  display: none;
}

p {
  font-size: 1.2vw; /* Adjust font size for mobile */
  color: white;
}

h1 {
  font-size: 1.6vw; /* Adjust font size for mobile */
  color: white;
}

.container {
  text-align: center;
  padding: 30px;
}

.btn-simple {
  padding: 1.3vw 1.3vw; /* Adjust padding for mobile */
  font-size: 1.2vw; /* Adjust font size for mobile */
  cursor: pointer;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.btn-simple:hover {
  background-color: #3b3b3b;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 500px) {
  .main{
    height: 100%;
  }
  .catmeme{
    height: 150px;
    width: 300px;
  }

  body {
    /* min-height: 100vh; */
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
  p {
      font-size: 4vw; 
      font-family: 'Lato';/* Adjust font size for smaller screens */
  }

  h1 {
      font-size: 5vw;
      font-family: 'Lato'; /* Adjust font size for smaller screens */
  }
  #hiddentext{
    font-size: 2vw;
  }

  .btn-simple {
      padding: 10%;
      width: 100%; /* Adjust padding for smaller screens */
      font-size: 4vw;
      font-family: 'Lato';
      background-color: #000000;
      color: rgb(255, 255, 255);
      text-align: center;
  }
  .box-3{
    padding: 3%;
  }
}
