<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainpage.css' %}">
    <title>funny!!1</title>
</head>

<body>
    <div class="container">
        <p id="currentip">Current IP:</p>
        <img src="https://media1.tenor.com/m/kBDMplHmLb8AAAAC/cat-cat-meme.gif" style="width: 500px; height: 250px;" alt="Funny Cat">
        <h1>VALIDATOR ALLIGATOR</h1>
        <br><br>
        <p id="hiddenText">Test</p>
        <div class="box-3">
            <div id="myButton" class="btn btn-simple">
                <span>Click here to validate</span>
            </div>
        </div>
    </div>
    <script src="{% static 'mainpage.js' %}"></script>
</body>

</html>
