<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainpage.css' %}">
    <title>funny!!1</title>
</head>
<body>
    <div class="container">
        <p id="currentip">Current IP:</p>
        <img src="https://media1.tenor.com/m/kBDMplHmLb8AAAAC/cat-cat-meme.gif" height=270 width=540>
        <h1>VALIDATOR ALLIGATOR</h1>
        <p id="hiddenText">Test</p>
        <div class="box-3">
            <div id="myButton" class="btn btn-three">
              <span>Click here to validate</span>
            </div>
          </div>
    </div>
    <script src="{% static 'mainpage.js' %}"></script>
</body>
</html>
